body{

}

.scitechcontainer {
  display:flex;
	width:85%;
	margin-bottom:100px;
	justify-content:space-around;
	align-items:stretch;
  flex-wrap: wrap;


}

.description {
	border:3px solid rgb(237,90,38);
	flex-flow: row wrap;
	background-color: white;
	padding:25px;
	margin:auto;

}
.scitechtitle{
	border: 3px solid rgb(237,90,38);
  color: rgb(139,187,243);
	background-color: white;
	padding: 25px;
	margin: auto;

}
.description, .scitechtitle{
  flex: 1 100%;
}
