body{

  background: linear-gradient(to bottom right, rgb(139,187,243),rgb(139,187,243)50%, white);
	background-attachment: fixed;
}

.plain{ list-style-type:none; }

a:link, a:visited {

    color: white;
    text-align: center;
    text-decoration: none;

}
hr{
  color:black;
  background-color: black;
  height:1px;
}


.linkbutton {
  flex: 1 100%;
  background-color: rgb(139,187,243);
  border: 1px solid rgb(237,90,38);
  padding-top: 25px;
  padding-bottom: 25px;
}



.scitechcontainer {
  display:flex;
	flex-flow: row wrap;
  flex: 1 100%;
  align-content: flex-start;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.description {
	border:4px solid rgb(237,90,38);
	flex-flow: row wrap;
	background-color: white;
	padding:50px;
  margin-bottom: 25px;
  text-align: justify;
  border-radius: 12.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 14pt;
  display:flex;

}

.scitechtitle{
  font-size:38pt;
  border: 5px solid rgb(237,90,38);
  color: rgb(139,187,243);
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
	background-color: white;
	padding: 25px;
  margin-bottom: 25px;
  text-align:center;
  border-radius: 12.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.description, .scitechtitle{
  flex: 1 100%;
}

.textsection{
  margin-bottom: 5px;
  padding-botton: 5px;
  border-bottom: 1px solid black;
}

@media all and (max-width:750px){
  body{
    background: -webkit-linear-gradient(left top,rgb(139,187,243),rgb(139,187,243)60%, white);
    height: 100%;
    margin: 0%;
    background-repeat: no-repeat;
  }
  html{
    height:100%;
  }

  .scitechcontainer{
    margin:5px;
  }
  .description{
    padding:10px;
    margin-bottom: 0px;
    font-size: 12pt;
    border:3px solid rgb(237,90,38);
  }
  .scitechtitle{
    margin-bottom: 10px;
    padding: 15px;
    font-size: 30px;
    border:4px solid rgb(237,90,38);
  }


}
