

body {
	background: linear-gradient(to bottom right, purple, #1a001a);
	background-attachment: fixed;
}
button[disabled=disabled], button:disabled {
	background:#d9d9d9;
}

/* Flex Container for logo link at top */
.logobox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:20px;
}

.btn-login {
	width:100%;
	margin-bottom:10px;
	border:1px solid #808080;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Flex item that holds logo link */

.logo {
	flex: 1;
	width: 50%;
	text-align: center;
	
}

/* Main flex container for master page where the ng-view is */

.container {
	display:flex;
	width: 95%;
	margin-bottom:100px;
	justify-content:center;

}

/* Flex container for main page - holds all flex items for page */

.wrapper {
	display:flex;
	justify-content:center;


}

.showcontainer{
	display:flex;
	
	flex-direction:column;

	max-width:50%;

	justify-content:center;


	border:4px solid black;
	
}

.showpost{
	display:flex;
	flex-direction:column;
	border: 1px solid black;
	margin-bottom: 10px;
	background:white;
	border-radius:12.5px;
	padding:25px;
}

.comment-box{
	border: 1px solid black;
	margin-bottom: 10px;
	background:white;
	padding:25px;
	border-radius:12.5px;
}

.commenttable{
	border:1px solid black;
	background:white;
	border-radius:12.5px;
	padding: 10px;
}

.thecomments{
	display:flex;
	flex-direction:column;
	border:1px solid #cccccc;
	margin:10px;
	padding:5px;
	border-radius:12.5px;
}

.newpost{
	background:white;
	border:1px solid black;
	padding:25px;
	border-radius: 12.5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.loginform{
	background:white;
	border:1px solid black;
	padding:25px;
	border-radius:12.5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.registerbox{
	background:white;
	border:1px solid black;
	padding:25px;
	border-radius:12.5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.showtext{
	border:1px solid #cccccc;
	padding:25px;
	border-radius:12.5px;
	margin-top:10px;
}
/* Flex object within wrapper, also flex container for the group of posts */

.posts {
	flex: 6;
	margin-right: 15%;
	display: flex;
	flex-direction: column;
	justify-content: left;
}



/* flex object for box with login/new post*/
.login {
	display:flex;
	flex: 1;
	margin: 0px;
	padding: 20px;
	margin-left:10px;
	background:white;
	border:1px solid black;
	border-radius:12.5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position:fixed; right: 2%; 
	flex-direction:column;
	width:15%;
	flex-wrap:wrap;
}



img {
	max-width: 100%;
	border: 3px solid black;
	border-radius:12.5px;
	padding:10px;
	background:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Group that each post is wrapped in */
.eachpost{
	display: flex;
	margin:0px;
	width:100%;
	padding:10px;
	margin-bottom: 5px;
	background:white;
	border: 1px solid black;
	
	flex-wrap: wrap;
	justify-content: space-between;

	flex-direction: column;

	border-radius: 12.5px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.logingreeting{
	width:100%;
}

.eachpost:hover {
	opacity:.90;
}

.first-line{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;

}
.second-line{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	
}
.third-line{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	
}

.editpostform {
	background:white;
	border:1px solid black;
	padding:25px;
	border-radius:12.5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* Flex object category, items within each post */
.list {
	
}

/* Flex items for each post*/
.position{
}

.title{
	text-alight: left;
}
.btn{
	white-space:normal;
	max-width:100%;
}

.score{
}
.score-breakdown{
}
.voting{
	
}
.editdelete{
	
}
.info{
	
	text-alight:right;
}
/* End of Post Items */

@media all and (max-width:1000px){
	.login{
		padding:10px;
	}
	.posts{
	}

}
/* Medium width layout changes */
@media all and (max-width:750px){
	.wrapper{
		flex-direction:column;
		
	}
	.posts{

		flex:1;
		order:1;
		
	}
	.eachpost{
		margin-bottom:3px;

	}
	.login{
		
		flex:1;
		
	}

	.container{
		width:95%;
	}
}

@media all and (max-width:550px){
	.login{
		position:static;
		width:100%;
		margin:0px;
		margin-bottom:3px;

	}
	.posts{
		margin:0px;
	}
}

/* Small width layout changes */
@media all and (max-width:500px){
	.wrapper{
		flex-direction:column;
		padding-left:0px;
		padding-right:0px;
		border:0px;
		background:purple;
	}

	.posts{

		flex:1;
		order:1;
		width:100%;
		margin:0px;
		padding:0px;
	}
	.eachpost{
		margin:0px;
		border-left:0px;
		border-right:0px;
		background:white;
		padding:10px;
		margin-bottom:3px;
	}
	.login{
		position:static;
		flex:1;
		width: 100%;
		margin:0px;
		margin-bottom:3px;
		background:white;
	}

	.container{
		width:100%;
	}

	.showpost{
		padding:10px;
	}
	.comment-box{
		order:2;
	}
	.commenttable{
		margin-bottom:10px;
	}
	.registerbox{
		
		
	}
	.loginform{
	}

	.info{
		width:100%;
	}

	.editpostform {
	}

	.newpost {
	}

	.showtext {
		padding: 10px;
	}


}