



body {
	background: purple;
}

/* Flex Container for logo link at top */
.logobox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:20px;
}

/* Flex item that holds logo link */

.logo {
	flex: 1;
	width: 50%;
	text-align: center;
	
}

/* Main flex container for master page where the ng-view is */

.container {
	width: 90%;

}

/* Flex container for main page - holds all flex items for page */

.wrapper {
	display:flex;
	justify-content:center;
	border: 4px solid black;
	background: white;
	padding: 20px;
}

.showcontainer{
	display:flex;
	
	flex-direction:column;
	
}

.showpost{
	display:flex;
	flex-direction:column;
	border: 4px solid black;
	margin-bottom: 10px;
	background:white;
}

.comment-box{
	border: 4px solid black;
	margin-bottom: 10px;
	background:white;
	padding:25px;
}

.commenttable{
	border:4px solid black;
	background:white;
}

.thecomments{
	display:flex;
	flex-direction:column;
	border:.25px solid black;
	margin:10px;
}

.newpost{
	background:white;
	border:4px solid black;
	padding:25px;
}

.loginform{
	background:white;
	border:4px solid black;
	padding:25px;
}

.registerbox{
	background:white;
	border:4px solid black;
	padding:25px;
}


/* Flex object within wrapper, also flex container for the group of posts */

.posts {
	flex: 6;
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: left;
}



/* flex object for box with login/new post*/
.login {
	flex: 1;
	border: .5px solid black;
	margin: 0px;
	padding: 20px;
	margin-left:10px;
}



img {
	max-width: 100%;
	border: 4px solid black;
}


/* Group that each post is wrapped in */
.eachpost{
	display: flex;
	border:.25px solid black;
	margin:0px;
	width:100%;
	padding:5px;
	margin-bottom: 10px;
	
	flex-wrap: wrap;
	justify-content: space-between;

	flex-direction: column;

}

.first-line{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;

}
.second-line{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	
}
.third-line{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	
}


/* Flex object category, items within each post */
.list {
	
}

/* Flex items for each post*/
.position{
}

.title{
	text-alight: left;
}
.btn{
	white-space:normal;
	max-width:100%;
}

.score{
}
.score-breakdown{
}
.voting{
	
}
.editdelete{
	
}
.info{
	
	text-alight:right;
}
/* End of Post Items */


/* Medium width layout changes */
@media all and (max-width:750px){
	.wrapper{
		flex-direction:column;
		
	}
	.posts{

		flex:1;
		order:1;
		width:100%;
		margin:0px;
		padding:0px;
	}
	.eachpost{
		margin:0px;
		margin-bottom:10px;

	}
	.login{
		flex:1;
		width: 100%;
		margin:0px;
		margin-bottom:10px;
	}

	.container{
		width:95%;
	}
}

/* Small width layout changes */
@media all and (max-width:500px){
	.wrapper{
		flex-direction:column;
		padding-left:0px;
		padding-right:0px;
		border:0px;
		background:purple;
	}
	img{
		border:2px solid black;
	}
	.posts{

		flex:1;
		order:1;
		width:100%;
		margin:0px;
		padding:0px;
	}
	.eachpost{
		margin:0px;
		margin-bottom:10px;
		border-left:0px;
		border-right:0px;
		background:white;
		border:2px solid black;
	}
	.login{
		flex:1;
		width: 100%;
		margin:0px;
		margin-bottom:10px;
		border:2px solid black;
		background:white;
	}

	.container{
		width:100%;
	}

	.showpost{
		border:2px solid black;
	}
	.comment-box{
		border:2px solid black;
	}
	.commenttable{
		border:2px solid black;
	}
	.registerbox{
		
		border:2px solid black;
		
	}


}