<html>
<link rel="stylesheet" type="text/css" href="css/synco.css">

<div class="editpostform">
	
		<hi>Edit Post</h1>
			<form name="editForm" ng-submit="editPost(editForm)">

				<div class="form-group">
					<input type="text" name="Title" ng-model ="post[0].title"
					required placeholder="Title of your post" class="form-control">
				</div>

				<div class="form-group">
					<TEXTAREA name="text"  COLS=60 ROWS=12 name="Body" ng-model="post[0].ptext"
					required placeholder="Enter your post text" class="form-control"></TEXTAREA>
				</div>

				<input type="submit" name="save" value="Post" class="btn btn-success">
			</form>
	</div>
	
</html>
