<link rel="stylesheet" type="text/css" href="http://jmurray.altervista.org/Synco/SyncoNEWCSS132.css">
<div class = "imgWidth">
	<a href = "http://synco.xyz/#/">
	<img src="http://jmurray.altervista.org/Synco/SyncoImgName.png" alt="SYNCO SYNCO SYNCO"></img>
	</a>
</div>
<div class = "container">
<body>
<div class = "logout">
<h3> Are you sure want to log out ? Click the Synco image to go back to the home page </h3>
<button class="btn btn-primary" ng-click="doLogout()">Logout</button>
</div>
</body>
<div>
