<link rel="stylesheet" type="text/css" href="http://jmurray.altervista.org/Synco/SyncoNEWCSS73.css">

<div class="logBox">
<div class="buttonNpost"><a href = "#/post"><button class="btn btn-default btn-md btn-post" ng-show="checkAuth()">New Post</button></a></div>
<div class="buttonLogin"><a href = "#/login"><button class="btn btn-default btn-lg btn-post" ng-show="!checkAuth()">Login</button></a></div>
<div class="buttonLogout"><a href = "#/logout"><button class="btn btn-default btn-md btn-post" ng-show="checkAuth()">Logout</button></a> </div>
</div>

<div class = "imgWidth">
	<img src="http://jmurray.altervista.org/Synco/SyncoImgName.png" alt="SYNCO SYNCO SYNCO"></img>
</div>

<body>
<div class = "container">
	<div class = "row">
		<div class = "col-sm-8-offset-4 myWrapper">
			<div class ="table-responsive">
			<table class="table">
			<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="x in posts | orderBy : '-vote_score'">

		  	<td>
					<div class = "commentHeader"><b>{{ x.title }} <div class ="newline"> Original Poster: {{ x.name }} </b> </div>
						 <div><span class="leftAlign"> Score: {{ x.vote_score }}
							 <span class="pos">({{ x.upvotes }} </span>/<span class="neg">{{ x.downvotes }}) </span> Comments: {{ x.comment_count }}
						 </span>
					 </div>
					</td>
				</div>
		    <td>
		    	<button class="btn btn-default btn-xs btn-view" ng-click="viewPost(x.id)">View/Comment</button>
		    	<button class="btn btn-default btn-xs btn-edit" ng-click="editPost(x.id)">Edit</button>
		    	<button class="btn btn-danger btn-xs btn-delete" ng-click="confirmDelete(x.id)">Delete</button>
					<button class="btn btn-default btn-xs btn-up" ng-click="upVote(x.id)" ng-show="checkAuth()"> Upvote </button>
		    	<button class="btn btn-default btn-xs btn-down" ng-click="downVote(x.id)" ng-show="checkAuth()"> Downvote </button>
		    </td>


		</tr>

	</tbody>
</table>
</div>
</div>
</div>
</div>
</body>
