<link rel="stylesheet" type="text/css" href="css/synco.css">



<body>



	<div class="wrapper">

	<div class="maincontent posts">

		<div class="eachpost" ng-repeat="x in posts | orderBy : '-vote_score'">

		  	<div class="first-line">

		  		<div class="list position" style="font-size:10px"><i>{{ $index + 1 }}</i></div>

			  	<div class="list title">
					<button type="button" class="btn btn-link" ng-click="viewPost(x.id)"><b>{{ x.title }}</b></button>
				</div>
			</div>

			<div class="second-line">
				<div class="list voting">

		  		<button class="btn btn-default btn-xs btn-up" ng-click="upVote(x.id)" ng-show="checkAuth()" ng-disabled="checkUpvote(x.id)"><span class="glyphicon glyphicon-thumbs-up"></span>  </button>

				<div style="font-size:11px"><b>{{ x.vote_score }}</b> <i>({{ x.upvotes }}/{{ x.downvotes }})</i></div>

				<button class="btn btn-default btn-xs btn-down" ng-click="downVote(x.id)" ng-show="checkAuth()" ng-disabled="checkDownvote(x.id)"><span class="glyphicon glyphicon-thumbs-down"></span>  </button>
				</div>

				<div class="list info"><b>OP:</b> {{ x.name }} <b>Comments:</b> {{ x.comment_count }}
				</div>
			</div>


		    <div class="third-line">
		    <div class="list editdelete">
	    		<button class="btn btn-default btn-xs btn-edit" ng-click="editPost(x.id)" ng-show="checkOwner(x.name)"><span class="glyphicon glyphicon-synchronization"</span> Edit</button>
		    	<button class="btn btn-danger btn-xs btn-delete" ng-click="confirmDelete(x.id)" ng-show="checkOwner(x.name)"><span class="glyphicon glyphicon-warning-sign"></span> Delete</button>
		    </div>
		    </div>


		</div>

	</div>

	<div class="maincontent login">
		<div class="logingreeting">
		<p ng-show="checkAuth()"> Hello, {{getUser()}}</p>
		</div>
		<div class="loginnew">
		<button class="btn btn-default btn-lg btn-login" ng-show="checkAuth()" ng-click="newPost()">New Post</button>
		</div>
		<div class="loginlogin">
		<a href = "#/login"><button class="btn btn-default btn-lg btn-login" ng-show="!checkAuth()">Log In</button></a>
		</div>
		<div class="loginregister">
		<a href = "#/register"><button class="btn btn-default btn-lg btn-login" ng-show="!checkAuth()">Register</button></a>
		</div>
		<div class="loginlogout">
		<button class="btn btn-default btn-lg btn-login" ng-show="checkAuth()" ng-click="confirmLogout()"> Log Out </button>
		</div>

	</div>

</div>

</body>
