<link rel="stylesheet" type="text/css" href="css/synco.css">
<html>



<div class="newpost">
	
		<hi>New Post</h1>
			<form name="postForm" ng-submit="makePost()">

				<div class="form-group">
					<TEXTAREA name="text" COLS=60 ROWS=4 ng-model ="post.title"
					required placeholder="Title of your post" class="form-control"></TEXTAREA>
				</div>

				<div class="form-group">
					<TEXTAREA name="Body" COLS=60 ROWS=12 ng-model="post.ptext"
					required placeholder="Enter your post text" class="form-control"></TEXTAREA>
				</div>

				<input type="submit" name="save" value="Post" class="btn btn-success">
			</form>
	</div>
	
</html>
