<link rel="stylesheet" type="text/css" href="http://jmurray.altervista.org/Synco/SyncoNEWCSS180.css">
<html>

<div>
	<a href = "http://synco.xyz/#/">
	<img src="http://jmurray.altervista.org/Synco/SyncoImgName.png"  class = "imgWidth1" alt="SYNCO SYNCO SYNCO"></img>
	</a>
</div>

<div class="row">
	<div class="col-sm-3 col-xs-0"></div>
	<div class="col-sm-6 col-xs-12 well" >
		<hi>New Post</h1>
			<form name="postForm" ng-submit="makePost()">

				<div class="form-group">
					<input type="text" name="Title" ng-model ="post.title"
					required placeholder="Title of your post" class="form-control">
				</div>

				<div class="form-group">
					<TEXTAREA name="Body" COLS=60 ROWS=12 ng-model="post.ptext"
					required placeholder="Enter your post text" class="form-control"></TEXTAREA>
				</div>

				<input type="submit" name="save" value="Post" class="btn btn-success">
			</form>
	</div>
	<div class="col-sm-3 col-xs-0"></div>
</div>
</html>
