<html class = "wrapper">
<link rel="stylesheet" type="text/css" href="css/synco.css">


<div class="registerbox">
	
		<hi>Register</h1>
			<form name="loginForm" ng-submit="doRegister(registerForm)">

				<div class="form-group">
					<input type="email" name="email" ng-model ="login.email"
					required placeholder="Enter your email" class="form-control">
				</div>

				<div class="form-group">
					<input type="text" name="username" ng-model ="login.username"
					required placeholder="Enter your username" class="form-control">
				</div>

				<div class="form-group">
					<input type="password" name="password" ng-model="login.password"
					required placeholder="Enter your password" class="form-control">
				</div>

				<div class="form-group">
					<input type="password" name="password2" ng-model="login.password2"
					required placeholder="Confirm your password" class="form-control">
				</div>

				<input type="submit" name="save" value="Login" class="btn btn-success">
			</form>
	</div>
	
</html>
