<link rel="stylesheet" type="text/css" href="css/scitech.css">



<body>




    <h1>New QR</h1>
      <div class="newqr">
      <form name="qrForm" ng-submit="makeQR()">

				<div class="form-group">
					<TEXTAREA name="title" COLS=60 ROWS=2 ng-model ="qr.title"
					required placeholder="Title of your exhibit" class="form-control"></TEXTAREA>
				</div>

				<div class="form-group">
					<TEXTAREA name="description" COLS=60 ROWS=5 ng-model="qr.description"
					required placeholder="Description of your exhibit" class="form-control"></TEXTAREA>
				</div>

        <div class="form-group">
          <TEXTAREA name="link" COLS=60 ROWS=2 ng-model="qr.link"
          required placeholder="Link to the audio file" class="form-control"></TEXTAREA>
        </div>

				<input type="submit" name="save" value="Post" class="btn btn-success">
			</form>
    

      <div class="eachqr" ng-repeat="qr in qrData">
        <div class="qrtitle">Title: {{ qr.title }}</div>
        <div class="qrdescription">Description: {{ qr.description }}</div>
        <div class="audiolink">Link to audio: {{ qr.link }}</div>
        <div class="qrpage">Link that QR should direct to: www.synco.xyz/sciapi/v1/{{ qr.qr_id }}</div>


      </div>
	</div>

</body>
