<link rel="stylesheet" type="text/css" href="css/scitech.css">



<body>


    <div class="scitechcontainer">


      <div class="newqr">
        <h1>New QR</h1>
          <form name="qrForm" ng-submit="makeQR()">

    				<div class="form-group">
    					<TEXTAREA name="title" COLS=60 ROWS=2 ng-model ="qr.title"
    					required placeholder="Title of your exhibit" class="form-control"></TEXTAREA>
    				</div>

    				<div class="form-group">
    					<TEXTAREA name="description" COLS=60 ROWS=5 ng-model="qr.description"
    					required placeholder="Description of your exhibit" class="form-control"></TEXTAREA>
    				</div>

            <div class="form-group">
              <TEXTAREA name="link" COLS=60 ROWS=2 ng-model="qr.link"
              required placeholder="Link to the audio file" class="form-control"></TEXTAREA>
            </div>

    				<input type="submit" name="save" value="Post" class="btn btn-success">
    			</form>
      </div>

      <div class="eachqr" ng-repeat="qr in qrData">
        <button type="button" class="qrbuttonlink" ng-click="viewQR(qr.qr_id)" style="border:none">
          Title: {{ qr.title }} <br />
          Description: {{ qr.description }} <br />
          Link to audio: {{ qr.link }} <br />
          QR: www.synco.xyz/sciapi/v1/{{ qr.qr_id }} <br />
        </button>
      </div>
      
	</div>

</div>

</body>
