<table class="table">
	
	<p>SHOW POST PAGE</p>

	<thead>
		<tr>
			<th></th>
			<th>Score</th>
			<th>Upvotes</th>
			<th>Downvotes</th>
			<th>Title</th>
			<th>Post Text</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		    <td>
		    	<button class="btn btn-default btn-xs btn-up" >Upvote</button>
		    	<button class="btn btn-default btn-xs btn-down" >Downvote</button>
		    </td>
		    <td>{{ post[0].about.post_score }}</td>
		    <td>{{ post[0].about.upvotes }}</td>
		    <td>{{ post[0].about.downvotes }}</td>
		    <td>{{ post[0].about.title }}</td>
		    <td>{{ post[0].about.ptext }}</td>
		    <td>{{ post[0].about.num_comments }}</td>
		    <td>
		    	<button class="btn btn-default btn-xs btn-edit" ng-click="editPost(x.about.id)">Edit</button>		 
		    	<button class="btn btn-danger btn-xs btn-delete" ng-click="confirmDelete(x.about.id)">Delete</button>
		    </td>


	</tbody>
</table>
<div class="row">
	<div class="col-sm-3 col-xs-0"></div>
	<div class="col-sm-6 col-xs-12 well" >
		<hi>New Comment</h1>
			<form name="commentForm" ng-submit="makeComment(commentForm)">

				<div class="form-group">
					<input type="text" name="Comment" ng-model ="post.ctext"
					required placeholder="Your comment here..." class="form-control">
				</div>

				

				<input type="submit" name="save" value="Post" class="btn btn-success">
			</form>
	</div>
	<div class="col-sm-3 col-xs-0"></div>
</div>
<table class= "table">
	<thead>
		<tr>
			<th>The Comments</th>
		</tr>
		<tr>
			<th>User</th>
			<th>Comment</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody class = "botComment">		
		<tr ng-repeat="x in comments">
		    
		    <td>{{ x.name }}</td>
		    <td>{{ x.ctext }}</td>
		    <td>{{ x.created_at }}</td>
		    
		</tr>
	</tbody>
</table>