<link rel="stylesheet" type="text/css" href="css/synco.css">

	<body>
	<div class="showcontainer">

	<div class= "showpost">

		<div class="showtitle"><h3>{{ post[0].title }}</h3></div>

		<div class="showposter">Original Poster: {{ post[0].name }}</div>

		<div class="showdate">Created On: {{ post[0].created_at }}</div>

		<div class="showscore">Score: 	{{ post[0].vote_score }}({{ post[0].upvotes }}/{{ post[0].downvotes }})</div>

		<div class="showtext">{{ post[0].ptext }}</div>

	</div>

	<div class="comment-box" ng-show="checkAuth()">
	<h5>Post Your Comment Here</h5>
		<form name="commentForm" ng-submit="makeComment(commentForm)">

			<div class="form-group">
				<TEXTAREA name="Body" COLS=60 ROWS=6 name="Comment" ng-model ="post.ctext"
				required placeholder="Your comment here..." class="form-control"></TEXTAREA>
			</div>
			<input type="submit" name="save" value="Post" class="btn btn-success">
		</form>
	</div>

	<div class= "commenttable">

		<div class="commenttabletitle"> <h5>The Comments</h5> </div>


		<div class="thecomments" ng-repeat="x in comments">

			    <div class="commentposter">{{ x.name }}</div>
			    <div class="commentdate">{{ x.created_at }}</div>
			    <div class="commenttext">{{ x.ctext }}</div>



		</div>

	</div>

</div>

</body>
